body
 {
   background-color: #f1f6f9;

 }

 h1
 {
   color: maroon;
 }

 #wrapper
 {
   width:100%;
   position:absolute;
    border: 2px solid #14274e;
    top:160px;
    width:1050px;
    height:700px;
    left:100px;
 }

 .name{
   position:absolute;
   font-size:16px;
   background-color: #14274e;
   top:10px;
  left:40%;
  padding-top: 10px;
  width:300px;
  height:50px;
  font-weight: bold;
  text-align:center;
  color:white;

}

.heading{
  position: relative;
  padding-top: 25%;
}

.andGate{
  position:absolute;
  left:190px;
  top:150px;
}

 .dropbtn
 {
   background-color: #14274e;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
 }

 .dropbtn:hover, .dropbtn:focus
 {
   background-color:  #9ba4b4;
 }

 .dropdown
 {
   position: relative;
   display: inline-block;
 }

 .dropdown-content
 {
   display: none;
   position: relative;
   background-color: #9ba4b4;
   min-width: 750px;
   overflow: auto;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }

 .dropdown-content a
 {
   color: white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

 .dropdown a:hover
 {
   background-color: #14274e;
 }

.show {display:block;}

.tableAnd{

}
#A,#B,#Z{
  width:100px;
  font-size:15pt;
   overflow:hidden;
background-color: inherit;
}


/* Reset Division */
.ResetButton{
  background: #14274e;
  height: 50px;
  width: 100px;
  color:white;
}
.Reset{
  position: absolute;
  left:180px;
  top: 635px;
}

#tblwrap{
  position: absolute;
  border: 2px solid #9ba4b4;
  top: 380px;
  width: 400px;
  height: 300px;
  left: 580px;
}

/* Truth table */
.TT{
  position:absolute;
   font-size:16px;
   background-color: #9ba4b4;
top:0px;
left:0px;
 width:400px;
 height:50px;
font-weight: bold;
text-align: center;
}
#table{
  background-color: inherit;
   position:absolute;
    top:50px;
    width:400px;
    height:250px;
    left:0px;
   overflow-y: auto;
}
#mytable{
  border-collapse: collapse;
      margin:0 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#mytable thead {
  background-color: #14274e;
  color: white;
  text-align: left;
font-weight: bold;
}
.new-row{
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
  background-color: #9ba4b4;
}
.new-row-even{
    background-color: #14274e;
}
#mytable td, #mytable th{
  padding: 12px, 15px;
}
#mytable tbody tr{
  border-bottom: 1px solid #dddddd;
}
#mytable tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}
#mytable tbody tr:last-of-type{
  border-bottom: 2px solid #14274e;
}


/* print Button */
#pr,#checkButton{
  background: #14274e;
  height:30px;
  width: 108px;
color:white;
}
